@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap'); /* 나눔고딕체 사용 */

/* reset */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Nanum Gothic", '맑은 고딕', sans-serif; /* 나눔고딕체 사용 */
    font-size: 13px;
    color: #333;
}
li {
    list-style: none;
}
a {
    color: #333;
    text-decoration: none;
}
img {
    vertical-align: top;
}

/* 공통 class */
.clearFix::after {
    content: "";
    display: block;
    clear: both;
}
.w943 {
    width: 943px;
    margin: auto;
}

/* layout */
header {
    /* background-color: yellow; */
    border-bottom: 1px solid #588e12;
    padding-top: 20px;
}
.logo {
    background-color: red;
    float: left;
}
.lnb {
    /* background-color: green; */
    float: right;
    margin-left: 400px; /* gnb가 밑으로 */
    margin-bottom: 38px;
    line-height: 13px;
}
.lnb ul li { /* li가 block 속성 */
    float: left;
    margin-left: 10px;
}
.gnb {
    /* background-color: #0ff; */
    float: right;
    width: 582px;
    line-height: 34px;
}
.gnb ul {
    /* background-color: red; */
}
.gnb ul li {
    /* background-color: aqua; */
    float: left;
    width: 97px;
    text-align: center;
}
.gnb ul li a {
    display: block;
    font-size: 14px;
    font-weight: 700;
}
.gnb ul li a:hover {
    background-color: #588e12;
    color: #000;
}
main {
    /* background-color: #f0f; */
    margin-bottom: 20px;
}
.mainImg {
    border-bottom: 3px solid #588e12;
    background-color: #fbfbfb;
    text-align: center;
}
.mainCon {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box; /* 패딩이나 보더가 넓이에 영향을 주지 않음 */
}
.mainCon article {
    float: left;
}
.mainCon article h2 {
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    line-height: 40px;
    padding-left: 10px;
}
.mainCon .mainConLeft {
    width: 672px;
    border-right: 1px solid #ccc;
}
.mainCon .mainConRight {
    width: 268px;
}
.mainCon .mainConRight ul {
    padding: 10px;
    line-height: 20px;
    border-bottom: 1px solid #ccc;
}
.mainCon .mainConRight ul li {
    background: url(../images/bullet.jpg) no-repeat 0 7px;
    padding-left: 10px;
}
.mainCon .mainConRight ul li a:hover {
    text-decoration: underline;
}
.fSite {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.copyright {
    font-style: normal;
    text-align: center;
    line-height: 50px;
}