@charset "utf-8";
h2{
    color: blue;
}
#idBox{
    background-color: bisque;
}

.fc_white{
    color: white;
}
strong{
    background-color: red;
    color: yellow;
}
#idBox > h3{
    background-color: lch(71.02% 39.12 10.91);
}
#idBox li{
    color: purple;
}
#brown li{
    color: brown;
}